



.jumbotron {
  
  
  position: relative;
}
.jumbotron p{
  
  
 color:#fff;
}
.jumbotron h1{
  
  
  color:#fff;
}
.form-check-label
{
 color:white;
}
.form-group
{
	color:white;
}
.row
{
	color:white;
}